<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="refresh" content="3" />
    <meta charset="UTF-8" />
    <title>spring boot gae</title>
    <style>
        body {
            padding: 14px;
            text-align: center;
        }

        table {
            width: 100%;
            margin: 20px auto;
            table-layout: auto;
        }

        .fixed {
            table-layout: fixed;
        }

        table,
        td,
        th {
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            border: solid 1px;
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>Bootstrap data example</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>TIME</th>
            <th>MESSAGE</th>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.id}"></td>
            <td th:text="${message.time}"></td>
            <td th:text="${message.payload}"></td>
            </td>
        </tr>
    </table>

</body>

</html>